body
{
    margin:0;
    font-size: 16px;
    font-style: 'Raleway','serif';
}
@media (max-width: 500px) {
    body {
      font-size: 8px;
    }
}

header
{
    height: fit-content;
    background-position: center;
    background-size: cover;
    background-image: url(sfondo.jpeg);

    display: flex;
    flex-direction: column;
    position: relative;
}
@media (max-width: 500px) {
    header {
      height: 280px;
      line-height: 1.2;
    }
}

nav
{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;

    top: 10px;
    left:0px;
    right: 50px;

    font-size: 18px;
    letter-spacing: 1px;
}

#Titolo
{
    color: black;
    border: 4px solid black;
    border-radius: 7px;
    font-size: 40px;
    background-color: ghostwhite;
    margin-left: 5px;
}
@media (max-width: 500px) {
	#Titolo {
	  font-size:17.5px ;
	}
}
#link
{
    color: black;
    letter-spacing: 5px;
    margin:20px;
}

#link:link
{
    color: black;
}
#link:visited
{
    color:black;
}

.bottone1
{
    border:2px solid black ;
    width: fit-content;
    border-radius: 11px;
    padding: 4px;
    cursor: pointer;
    margin-top: -10px;
    background-color: ghostwhite;

}
.container
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: solid 1px #dcdcdc;
    padding: 10px;
    align-items: center;
}

img
{
    width:150px;
    height: 150px;
}
.bottone
{
    border:2px solid black ;
    width: fit-content;
    border-radius: 11px;
    padding: 4px;
    cursor: pointer;
    margin-top: -10px;
}
 .prezzo
 {
     color:gray;
     margin-top: -16px;
     font-size: 25px;
 }
 .titolo
 {
    color: black;
    border: 2px solid white;
    background-color: pink;
 }
 #lista_carrello
{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    justify-content: space-around;
    align-content: space-between;
    margin-top:60px;
    padding: 20px;
}
.bottone1
{
    border:2px solid black ;
    width: fit-content;
    border-radius: 11px;
    padding: 4px;
    cursor: pointer;
    margin-top: -10px;
    background-color: ghostwhite;

}